/* resets */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-cart-button {
  background-color: rgba(3, 122, 122, 0.723);
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.header-nav-list {
  display: flex;
  list-style-type: none;
}

.header-nav-li {
  margin: 10px;
}

.header-link {
  padding: 5px;
  text-decoration: none;
  color: rgb(98, 81, 51);
}

.company-information {
  display: flex;
  flex-direction: column;
}

.company-name {
  color: #625133;
  font-size: 35px;
}

.checkout-button {
  background-color: black;
  color: white;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}
.heading2 {
  color: #625133;
}
/* .coffee {
}

.tea {
}

.smoothie {
} */

.product-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  /* border-style: solid 2px #625133; */
}

.cart-button {
  width: 50%;
  margin: 5px;
  padding: 5px;
  background-color: rgba(3, 122, 122, 0.723);
  color: white;
}

.product-image {
  object-fit: cover;
  height: auto;
  width: 400px;
  overflow: hidden;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.641);
  margin-top: 20px;
}

.social-media-links {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.form-container,
.card-form,
.cash-form {
  display: none;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}
.card-form,
.cash-form {
  background-color: #625133;
  color: white;
  width: 30%;
  padding: 10px;
}

.checkout-form {
  background-color: black;
  color: white;
  width: 42%;
  margin: 20px;
  padding: 10px;
}

@media only screen and (min-width: 760px) {
  .company-information {
    display: flex;
    flex-direction: row-reverse;
  }
  .company {
    flex: 1;
  }
  .cafe-ambience {
    flex: 1;
    width: 50%;
  }
  .product-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
  }

  .checkout-button {
    width: 100px;
  }
  .footer-nav {
    margin-bottom: 0px;
  }
}
