/* resets */

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.to-checkout-button {
  background-color: rgba(3, 122, 122, 0.723);
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.header-nav-list {
  display: flex;
  list-style-type: none;
}

.header-nav-li {
  margin: 10px;
}

.header-link {
  padding: 5px;
  text-decoration: none;
  color: rgb(98, 81, 51);
}

.company {
  padding: 5%;
}

.company-information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cafe-ambience {
  width: 100%;
}

.company-name {
  color: #625133;
  font-size: 35px;
}

.checkout-button {
  background-color: black;
  color: white;
  width: 50%;
  border-radius: 5px;
  padding: 10px;
}
.heading2 {
  color: #625133;
}

.product-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.cart-button {
  width: 50%;
  margin: 5px;
  padding: 10px 5px;
  background-color: rgba(3, 122, 122, 0.723);
  color: white;
  border: 0px;
  border-radius: 10px;
}

.cart-button:hover {
  background-color: rgba(3, 122, 122, 1);
}

.product-image {
  object-fit: cover;
  height: auto;
  width: 400px;
  overflow: hidden;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.641);
  margin-top: 20px;
}

.social-media-links {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.form-container,
.card-form,
.cash-form {
  display: none;
  flex-direction: column;
  width: 100%;
}
.card-form,
.cash-form {
  background-color: #625133;
  color: white;
  width: 30%;
  padding: 10px;
}

.checkout-form {
  background-color: black;
  color: white;
  width: 42%;
  margin: 20px;
  padding: 10px;
}

.receipt-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.actual-receipt {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  padding: 10px;
  position: relative;
  border-style: dashed 4px black;
}

.delete {
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  padding: 5px;
}

@media only screen and (min-width: 760px) {
  .top-nav {
    padding: 0 40px;
    height: 125px;
  }

  .company-information {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
  }
  .company {
    flex: 1;
  }
  .cafe-ambience {
    flex: 1;
    width: 50%;
  }
  .product-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    object-fit: scale-down;
  }

  .product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    /* width: 35%; // was 400px; */
    /* height: 35%; // was 400px; */
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
  }
  .smoothie {
    margin-top: 0px;
  }
  .checkout-button {
    width: 100px;
  }
  .footer-nav {
    margin-bottom: 0px;
  }
}
